/* GENERAL */

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Lato');

body {
  padding-top: 50px; 
  font-family: 'Open Sans', sans-serif;
  color: black;
}

.jumbotron p {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 100;
}

a {
  font-family: 'Open Sans', sans-serif;
  font-size: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;

}

.img-responsive,
.thumbnail > img,
.thumbnail a > img {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

/* Heading */


#logo {
  text-align: center;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  color: black;
}

p {
  font-size: 120%;
}

li {
  font-size: 120%;
}

.profile {
  max-width: 1000px;
  margin: 0 auto;
}

/* NAVIGATION */

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-nav>li>a {
  color: white; 
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #009FB7;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: yellow;
}

/* FOOTER */

footer {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  padding-top: 10 10;
  color: #f6f5f3;
}

.social-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

/* PAGE: ABOUT */

.profile-photo {
  display: block;
  float: both;
  max-width: 250px;
  margin: 0 auto 30px;
	border-radius: 50%;
}

/* PAGE: PORTFOLIO
 */


#gallery {
  margin: 0;
  padding: 0;
  list-style: none;

}

/*
COLORS
*/

/* site body
 */

body {
  background-color: white;
}

.navbar {
  background: #009FB7;
}

/* nav background on mobile */
.navbar {
  background: #009FB7;
}


/* links */

a {
  color: #009FB7;
}


/* nav link */
nav a, nav a: visited {
  color: #3d3d3f;
}

/* selected nav link */
nav a.selected, nav a:hover {
  color: #f8f7fd;}
